$titleTextColor: red;

.wp-profile-image {
	display: inline-block;
	width: 126px;
	height: 126px;
	background: url('../../assets/images/react_icon.png') no-repeat 0 0;
}

.wp-big-image {
	display: block;
	width: 2598px;
	height: 1299px;
	background: url('../../assets/images/webpack_header.png') no-repeat 0 0;
}

.wp-profile-title {
	display: inline-block;
	color: $titleTextColor;
}