body {
	background: url('../images/bg.jpg') no-repeat 0 0;
	color: white;
}

.app-jumbotron-header-wrapper {
	width: 80%;
	display: inline-block;
	vertical-align: middle;
	color: black;
}

.app-jumbotron-header {
	display: inline-block;
}

.app-jumbotron-body {
	display: inline-block;
}

.app-jumbotron-image {
	display: inline-block;
	width: 126px;
	height: 126px;
	background: url('../images/react_icon.png') no-repeat 0 0;
	vertical-align: middle;
}
